.places {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 20px;
  align-items: stretch;
}

.places h1 {
  padding: 21px 21px 0px 21px;
  flex: 100%;
  font-size: 30px;
}
.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: #ff5a5f 1px solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}
.places h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
}
.price_by_night {
  color: #ff5a5f;
  border: #ff5a5f 4px solid;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 30px 5px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer {
  position: relative;
}
.max_guest,
.number_rooms,
.number_bathrooms {
  margin-top: 5px;
  width: 100px;
  height: 100px;
  background-position: center top;
  line-height: 120px;
  text-align: center;
  background-repeat: no-repeat;
}
.max_guest {
  background-image: url(../images/icon_group.png);
}
.number_rooms {
  background-image: url(../images/icon_bed.png);
}
.number_bathrooms {
  background-image: url(../images/icon_bath.png);
}
.user {
  width: 100%;
}

.places .amenities,
.places .reviews {
  margin-top: 40px;
  width: 100%;
}

.places .amenities h2,
.places .reviews h2 {
  font-size: 16px;
  border-bottom: #dddddd 1px solid;
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
}

.places .amenities ul,
.places .reviews ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.places .amenities ul li {
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
}
.places .reviews ul h3 {
  font-size: 14px;
}
.places .reviews ul p {
  font-size: 12px;
}
.pet {
  background-image: url(../images/icon_pets.png);
}
.tv {
  background-image: url(../images/icon_tv.png);
}
.wifi {
  background-image: url(../images/icon_wifi.png);
}
