.filters {
  height: 70px;
  width: 100%;
  border: 1px #dddddd solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
}
.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: 0px;
  border-radius: 4px;
  margin-right: 30px;
  position: absolute;
  right: 30px;
}
.filters button:hover {
  opacity: 0.9;
}
.locations,
.filters .amenities {
  height: 100%;
  width: 25%;
  padding-left: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.filters .amenities {
  border-left: #dddddd 1px solid;
}

.locations > h3,
.filters .amenities > h3 {
  font-weight: 600;
  margin: 0;
}

.locations > h4,
.filters .amenities > h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.locations:hover > .popover,
.filters .amenities:hover > .popover {
  display: block;
  z-index: 10;
}

ul,
li {
  list-style: none;
}

.popover {
  background-color: #fafafa;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px #dddddd solid;
  border-radius: 4px;
  padding: 24px 0;
  display: none;
}
.popover h2 {
  font-size: 16px;
}
.popover > ul {
  position: relative;
  left: 50px;
  margin-bottom: 15px;
}
.popover > ul:last-child {
  margin-bottom: 0;
}
.popover > h2 {
  position: relative;
  left: 30px;
}
