.places {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 20px;
}

.places h1 {
  padding: 21px 21px 0px 21px;
  flex: 100%;
  font-size: 30px;
}
.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: #ff5a5f 1px solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.places h2 {
  font-size: 30px;
  text-align: center;
}
.price_by_night {
  color: #ff5a5f;
  border: #ff5a5f 4px solid;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 30px 5px;
}

.information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.max_guest,
.number_rooms,
.number_bathrooms {
  margin-top: 5px;
  width: 100px;
  height: 100px;
  background-position: center top;
  line-height: 120px;
  text-align: center;
  background-repeat: no-repeat;
}
.max_guest {
  background-image: url(../images/icon_group.png);
}
.number_rooms {
  background-image: url(../images/icon_bed.png);
}
.number_bathrooms {
  background-image: url(../images/icon_bath.png);
}
.user {
  width: 100%;
}
